<!DOCTYPE html>
<html>
    <head>
        <title>Detail Tugas</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css" 
        integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <nav class="mb-4 px-3 border-bottom">
            <h1>Aplikasi Penugasan</h1>
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/form">Buat Tugas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tentang</a>
                </li>
            </ul>
        </nav>
        <div class="container">
            <div class="mb-3">
                <a href="#" class="btn btn-primary">Ubah</a>
                <a href="#" class="btn btn-danger">Hapus</a>
            </div>
            <h2>Detail Tugas</h2>
            <h3>Judul Tugas</h3>
            <h5 class="border-bottom">Deskripsi Tugas</h5>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias itaque atque numquam veniam maxime explicabo accusamus fugiat fugit dignissimos, ducimus possimus voluptatibus sed neque quasi officiis distinctio iure tempore similique?</p>
            <h5 class="border-bottom">PIC (People in Charge)</h5>
            <ul>
                <li>Lorem 1</li>
                <li>Lorem 2</li>
                <li>Lorem 3</li>
            </ul>
            <h5 class="border-bottom">Deadline Tugas</h5>
            <p>17 Agustus</p>
            <h5 class="border-bottom mb-3">Status Tugas</h5>
            <p>
                <span class="rounded-pill bg-warning px-4 py-2">On Progress</span>
            </p>
        </div>
    </body>
</html>